.table-of-contents li {
    cursor: pointer;

    &.active {
        font-weight: bold;
      color: var(--primary-color);
    }
}

.chapter-title {
    padding-inline-start: 1rem;
}

.toc-page {
    margin-inline-start: 0.5rem;
    font-size: 0.8rem;
    font-weight: normal;
    opacity: 0.7;
    white-space: nowrap;
}
